/* UrlElement.css */
.urlElement {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.urlElement__id {
    flex: 1;
    text-align: left;
}

.urlElement__alias {
    flex: 2;
    text-align: left;
    cursor: pointer;
}

.urlElement__alias:hover, .urlElement__url:hover {
    color: #007bff;
}

.urlElement__url {
    flex: 3;
    text-align: left;
}

.urlElement__delete:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgb(246, 203, 206);
}

.urlElement__edit:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgb(231, 219, 248);
}


